@model Sperientia___SGI.ViewModel.ServiciosViewModel

@{
    ViewData["Title"] = "Modificar Servicio Usuario";
    Layout = "_LayoutAdmin";
}


<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card ">
                <div class="card-body ">
                    <h5 class="card-title text-center pb-0 fs-4">Modificar Servicio Usuario</h5>
                    <br />

                    <div class="m-4 d-flex  justify-content-center">
                        <form asp-action="ModificarRegistro" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="ServicioUsuario.IdServicio">


                            <div class="row mb-3">
                                <label for="servicio" class="col-md-5 col-lg-6 col-form-label">Servicio</label>
                                <div class="col-md-7 col-lg-6">
                                    <select asp-for="ServicioUsuario.IdServicio" class="form-select" asp-items="Model.Servicios">
                                        <option>--Seleccione--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="empleado" class="col-md-5 col-lg-6 col-form-label">Empleado</label>
                                <div class="col-md-7 col-lg-6">
                                    <select asp-for="ServicioUsuario.IdUsuario" class="form-select" asp-items="Model.Usuarios">
                                        <option>--Seleccione--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="fechaA" class="col-md-5 col-lg-6 col-form-label">Fecha de adquisición</label>
                                <div class="col-md-7 col-lg-6">
                                    <input class="form-control" type="date" asp-for="ServicioUsuario.FechaAsignacion">
                                </div>
                            </div>


                            <br />
                            <div class="row mb-3">

                                <div class="d-inline-flex justify-content-center" role="group">
                                    <button type="button" class="btn btn-sm btn-warning me-2" onclick="location.href='@Url.Action("Index", "ServicioUsuario")'">Volver</button>
                                    <button type="submit" class="btn btn-sm btn-success">Modificar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>