@model Sperientia___SGI.ViewModel.InventarioViewModel

@{
    ViewData["Title"] = "Crear Inventario";
    Layout = "_LayoutAdmin";
}


<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card ">
                <div class="card-body ">
                    <h5 class="card-title text-center pb-0 fs-4">Nuevo Inventario</h5>
                    <br />

                    <div class="m-4 d-flex  justify-content-center">
                        <form asp-action="Guardar" method="post" enctype="multipart/form-data">

                            <div class="row mb-3">
                                <label for="codigo" class="col-md-5 col-lg-6 col-form-label">Código Interno <span class="text-warning">*</span></label>
                                <div class="col-md-7 col-lg-6">
                                    <input class="form-control" type="number" step="any" asp-for="Inventario.CodigoInterno">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="nombre" class="col-md-5 col-lg-6 col-form-label">Nombre <span class="text-warning">*</span></label>
                                <div class="col-md-7 col-lg-6">
                                    <input class="form-control" type="text" asp-for="Inventario.Nombre">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="descripcion" class="col-md-5 col-lg-6 col-form-label">Descripción</label>
                                <div class="col-md-7 col-lg-6">
                                    <textarea class="form-control" id="floatingTextarea" style="height: 100px;" asp-for="Inventario.Descripcion"></textarea>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="categoria" class="col-md-5 col-lg-6 col-form-label">Categoria</label>
                                <div class="col-md-7 col-lg-6">
                                    <select id="categoria" asp-for="Inventario.IdCategoria" class="form-select" asp-items="Model.InventarioCategoria">
                                        <option>--Seleccione--</option>
                                    </select>
                                </div>
                            </div>

                            <div id = "divLibro" class="d-none">
                                <div class="row mb-3">
                                    <label for="autor" class="col-md-5 col-lg-6 col-form-label">Autor</label>
                                    <div class="col-md-7 col-lg-6">
                                        <input class="form-control" type="text" asp-for="Libro.Autor">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="editorial" class="col-md-5 col-lg-6 col-form-label">Editorial</label>
                                    <div class="col-md-7 col-lg-6">
                                        <input class="form-control" type="text" asp-for="Libro.Editorial">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="isbn" class="col-md-5 col-lg-6 col-form-label">ISBN</label>
                                    <div class="col-md-7 col-lg-6">
                                        <input class="form-control" type="text" asp-for="Libro.Isbn">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="reseña" class="col-md-5 col-lg-6 col-form-label">Reseña</label>
                                    <div class="col-md-7 col-lg-6">
                                        <textarea class="form-control" id="floatingTextarea" style="height: 100px;" asp-for="Libro.Reseña"></textarea>
                                    </div>
                                </div>

                                <div class="row mb-3 align-items-center">
                                    <label class="col-md-5 col-lg-6 col-form-label">Es Digital</label>
                                    <div class="col-md-7 col-lg-6 d-flex align-items-center gap-2">
                                        <input type="checkbox" class="form-check-input" asp-for="Libro.EsDigital" />
                                        <label class="mb-0">
                                            Sí
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div id="divGeneral" class="d-none">
                                <div class="row mb-3">
                                    <label for="marca" class="col-md-5 col-lg-6 col-form-label">Marca</label>
                                    <div class="col-md-7 col-lg-6">
                                        <input class="form-control" type="text" asp-for="General.Marca">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="modelo" class="col-md-5 col-lg-6 col-form-label">Modelo</label>
                                    <div class="col-md-7 col-lg-6">
                                        <input class="form-control" type="text" asp-for="General.Modelo">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="noSerie" class="col-md-5 col-lg-6 col-form-label">No. Serie</label>
                                    <div class="col-md-7 col-lg-6">
                                        <input class="form-control" type="number" asp-for="General.NumeroSerie">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="condicion" class="col-md-5 col-lg-6 col-form-label">Condición</label>
                                    <div class="col-md-7 col-lg-6">
                                        <input class="form-control" type="text" asp-for="General.EstadoCondicion">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="fechaG" class="col-md-5 col-lg-6 col-form-label">Fecha de Garantía</label>
                                    <div class="col-md-7 col-lg-6">
                                        <input class="form-control" type="date" asp-for="General.GarantiaFechaFin">
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="prov" class="col-md-5 col-lg-6 col-form-label">Proveedor</label>
                                <div class="col-md-7 col-lg-6">
                                    <input class="form-control" type="text" asp-for="Inventario.Proveedor">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="fechaC" class="col-md-5 col-lg-6 col-form-label">Fecha de compra</label>
                                <div class="col-md-7 col-lg-6">
                                    <input class="form-control" type="date" asp-for="Inventario.FechaCompra">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="costo" class="col-md-5 col-lg-6 col-form-label">Costo</label>
                                <div class="col-md-7 col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-text">$ </span>
                                        <input class="form-control" type="number" asp-for="Inventario.Costo">
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label for="foto" class="col-md-5 col-lg-6 col-form-label">Subir fotografia</label>
                                <div class="col-md-7 col-lg-6">
                                    <input class="form-control" type="file" name="Fotografia" asp-for="Inventario.Foto">

                                </div>
                            </div>


                            <br />
                            <div class="row mb-3">

                                <div class="d-inline-flex justify-content-center" role="group">
                                    <button type="button" class="btn btn-sm btn-warning me-2" onclick="location.href='@Url.Action("Index", "Inventario")'">Volver</button>
                                    <button type="submit" class="btn btn-sm btn-success">Crear</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const selectCategoria = document.getElementById('categoria');
            const divLibro = document.getElementById('divLibro');
            const divGeneral = document.getElementById('divGeneral');

            function toggleAutorDiv() {
                const selectedText = selectCategoria.options[selectCategoria.selectedIndex].text.toLowerCase();
                console.log(selectedText);
                if (selectedText === 'libro') {
                    divLibro.classList.remove('d-none');
                    divGeneral.classList.add('d-none');
                } else {
                    divLibro.classList.add('d-none');
                    divGeneral.classList.remove('d-none');
                }
            }

            selectCategoria.addEventListener('change', toggleAutorDiv);

            toggleAutorDiv();
        });
    </script>
}